@model ZadatakAKD.Models.Autor

@{
    ViewData["Title"] = "Detalji autora";
}

<h1>Detalji</h1>

<div>
    <h4>Autor</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prezime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prezime)
        </dd>
        <dt class="col-sm-2">
            Knjige
        </dt>
        <dd class="col-sm-10">
            <table class="table">
                <tr>
                    <th>Naslov</th>
                    <th>Godina Izdavanja</th>
                </tr>
                @foreach (var item in Model.Knjigas)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Naslov)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.GodinaIzdavanja)
                        </td>
                    </tr>
                }
            </table>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Uredi</a> |
    <a asp-action="Index">Natrag na listu</a>
</div>
