@model IEnumerable<ZadatakAKD.Models.Autor>

@{
    ViewData["Title"] = "Autori";
}

<h1>Popis autora</h1>

<p>
    <a asp-action="Create">Kreiraj novog autora</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["ImeSortParm"]">@Html.DisplayNameFor(model => model.Ime)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["PrezimeSortParm"]">@Html.DisplayNameFor(model => model.Prezime)</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Ime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prezime)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Uredi</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalji</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Izbriši</a>
            </td>
        </tr>
}
    </tbody>
</table>
