@model IEnumerable<ZadatakAKD.Models.Knjiga>

@{
    ViewData["Title"] = "Knjige";
}

<h1>Popis knjiga</h1>

<p>
    <a asp-action="Create">Kreiraj novu knjigu</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NaslovSortParm"]">@Html.DisplayNameFor(model => model.Naslov)</a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GodinaIzdavanja)
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["AutorSortParm"]">@Html.DisplayNameFor(model => model.Autor)</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Naslov)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GodinaIzdavanja)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Autor.PunoIme)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Uredi</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalji</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Izbriši</a>
            </td>
        </tr>
}
    </tbody>
</table>
